.like-dislike {
  font-size: 30px;
  i {
    margin-right: 20px;
    cursor: pointer;
  }
}
.counter {
  font-size: 30px;
  font-weight: bold;
}
.date {
  color: grey;
  font-size: 13px;
  text-align: right;
  font-style: italic;
}
